<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>#MeToo Hack - A Hack for the Public!</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="icon.png">
        <link rel="icon" type="image/png" href="img/favicon_16.png" sizes="16x16">  
        <link rel="icon" type="image/png" href="img/favicon_32.png" sizes="32x32">
        <!-- Place favicon.ico in the root directory -->

        <meta property="og:title" content="#MeToo Hack - Göteborg 3 Feb" />
        <meta property="og:description" content="Shaken (and deeply frustrated) by the #MeToo movement, as digital creators we have decided to join forces and take action. In a one day hack 10 teams will prototype creative solutions to the underlying problems shown by #MeToo." />
        <meta property="og:image" content="https://metoohack.se/img/og_image_wide.png" />
        <meta property="og:url" content="https://metoohack.se/" />

        <link href="https://fonts.googleapis.com/css?family=Lato:300,400|Permanent+Marker" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        <section class="section start hero is-fullheight">
            <h1 class="title">#MeToo Hack</h1>
            <div class="level">
                <div class="level-item has-text-centered">
                    <div>
                        <div class="usp-title">When</div>
                        <div class="usp-content">Feb 3, 2018</div>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <div class="usp-title">Where</div>
                        <div class="usp-content">Göteborg</div>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <div class="usp-title">Venue</div>
                        <div class="usp-content">Spotify Office</div>
                    </div>
                </div>
            </div>
            <p class="is-size-5">Shaken (and deeply frustrated) by the #MeToo movement, as digital creators we have decided to join forces and take action.<br>
                    In a one day hack 10 teams will prototype creative solutions to the underlying problems shown by #MeToo.</p>
            <div class="columns is-centered">
                <div class="column is-5">
                    <form id="email-signup" name="email-signup" netlify-honeypot="bot-field" method="POST" netlify>
                        <input type="hidden" name="form-name" value="email-signup" />
                        <input name="bot-field" class="is-hidden" />
                        <div class="field has-addons">
                            <div class="control has-icons-left is-expanded">
                                <input class="input" type="email" name="email" placeholder="Enter email to get updates!" required />
                                <span class="icon is-small is-left">
                                    <i class="fa fa-envelope"></i>
                                </span>
                            </div>
                            <div class="control">
                                <button type="submit" class="button is-info is-inverted is-outlined">Submit</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="buttons is-centered">
                <button type="button" id="scroll-to-faq" class="button is-info">
                    <span class="icon"><i class="fa fa-info" aria-hidden="true"></i></span>
                    <span>More info</span>
                </button>
                <button type="button" id="scroll-to-registration" class="button is-primary">
                    <span class="icon"><i class="fa fa-user-plus" aria-hidden="true"></i></span>
                    <span>To Registration</span>
                </button>
            </div>
        </section>

        <section class="section faq is-medium">
            <div class="container">
                <h1 class="title">Questions &amp; Answers</h1>
                <h3>What is the "#MeToo movement"</h3>
                <p class="answer">The hashtag #MeToo has shaken our society showing that systematic sexual harassments and assaults are everywhere. Subsequent movements like #deadline, #tystnadtagning, #medvilkenrätt (and many more) shows that it's present in almost any part of our society.</p>
                <h3>What is #MeToo Hack?</h3>
                <p class="answer">A one day event where 10 teams of people prototypes and builds digital products that in some way could make a difference in the area of sexual abuse and harassment and overall sexual integrity.</p>
                <h3>Isn't hacking illegal?</h3>
                <p class="answer">Hacking is here by no means referring to the illegal art of penetrating computer systems :). By "hacking" we mean thinking outside the box, rapidly prototyping creative solutions (that might not always be production grade).</p>
                <h3>Who can participate?</h3>
                <p class="answer">#MeToo Hack will be limited to 10 teams of 5 people each. Each team should be capably of creating a digital product (hint: you probably need programmers) but who is in the team is up to you. Copywriters, lawyers, designers, social workers, sceintists, you name it!</p>
                <h3>Is this a competition?</h3>
                <p class="answer">Very much so, but the teams are not competing against each others, we're fighting norms and social constructs that every day leads to more people taken advantage of.</p>
                <h3>I don't have a team</h3>
                <p class="answer">No worries! Just sign up, stating what you can contribute with and we'll try our best to set you up with a team looking for members</p>
                <h3>How do I register?</h3>
                <p class="answer">At the registration section below</p>
                <h3>Will there be food and drinks?</h3>
                <p class="answer">Yes, this will be a fully sponsored event, including food and drinks during the day (thank you sponsors)</p>
                <h3>What do I need to bring?</h3>
                <p class="answer">Bring whatever you need to get to work, a computer, post-its, sharpies, drawing tablets, vegan candy...</p>
                <h3>I don't have an awesome idea yet!</h3>
                <p class="answer">Experts in the field of gender and gender based violence will assist the teams. </p>
            </div>
        </section>

        <section class="section prehack is-medium">
            <div class="container">
                <h1 class="title">Pre-hack</h1>
                <p class="subtitle">Tue Jan 16th, 17:30-20:00 (venue TBA)</p>
                <p>Two weeks before the hack we will host a "pre-hack" forum, where participants get the opportunity to join a cross functional team of field experts to get ideas or feedback on existing ones. Since the problems at hand are so insanely complex and multifaceted the solutions will require input from many points of view, or from many different proffesions.</p>
                <p>Some of the attending experts are researchers Ninni Carlsson and Mari Brännvall from Göteborgs Universitet, journalist and writer Elin Klemetz and Anna Thomasson, former project manager for “Fatta Man”.</p>
            </div>
        </section>

        <section class="section registration is-medium">
            <div class="container">
                <h1 class="title">Registration</h1>
                <p>Each team should be 3-5 people, fully capable of creating a prototype of a digital product or service. Register your entire team, or sign up as individuals to have us put together teams. And since we're all working for the public good, maybe one team full of designers will join a team full of programmers to work on two products together?</p>
                <div class="message is-info">
                    <div class="message-body">Yikes! &#x1F605; Registrating will from now on put you on the waiting list.</div>
                </div>
                <div id="app">
                    <div v-if="!isSubmitted">
                        <div class="buttons is-centered">
                            <button class="button is-primary is-inverted is-large" :class="[isTeam ? 'is-active' : 'is-outlined']" v-on:click="setMode('team')">
                                <span class="icon"><i class="fa fa-users" aria-hidden="true"></i></span>
                                <span>Team</span>
                            </button>
                            <button class="button is-primary is-inverted is-large" :class="[isIndividual ? 'is-active' : 'is-outlined']" v-on:click="setMode('individual')">
                                <span class="icon"><i class="fa fa-user" aria-hidden="true"></i></span>
                                <span>Individual</span>
                            </button>
                        </div>
                        <div v-if="isTeam">
                            <participant
                                v-for="member in teamMembers"
                                v-bind:participant="member"
                                v-bind:remove="removeMember"
                                v-bind:key="member.id">
                            </participant>
                            <div class="field">
                                <button class="button" v-on:click="addMember">
                                    <span class="icon"><i class="fa fa-user-plus" aria-hidden="true"></i></span>
                                    <span>Add team member</span>
                                </button>
                            </div>
                            <div class="field columns is-centered">
                                <div class="column is-6">
                                    <textarea class="textarea" v-model="message" placeholder="A message to the staff, e.g. how the team knows each others, if you've got questions, if you want some specific expert on site etc..."></textarea>
                                </div>
                            </div>
                        </div>
                        <div v-if="isIndividual">
                            <participant :participant="individual"></participant>
                            <div class="field columns is-centered">
                                <div class="column is-6">
                                    <textarea class="textarea" v-model="message" placeholder="A message to the staff; questions, ideas etc."></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="notification is-warning" v-if="errors.items.length > 0" style="margin: 2em 0 0">
                            Your form contains errors, please fix them before submitting
                        </div>
                        <button class="button registration-submit is-large is-primary" :class="{'is-loading': isLoading}" v-if="mode !== ''" v-on:click="submit">
                            <span class="icon"><i class="fa fa-paper-plane" aria-hidden="true"></i></span>
                            <span>Submit</span>
                        </button>
                    </div>
                    <div v-else>
                        <div class="notification is-success">
                        &#x1F601;&nbsp;&nbsp;&nbsp;&#x1F389;&nbsp;&nbsp;&nbsp;&#x1F4BB;&nbsp;&nbsp;&nbsp; your registration has been submitted!
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section sponsors is-medium">
            <div class="container">
                <h1 class="title">Sponsors</h1>
                <div class="columns is-centered">
                    <div class="column is-4"><a href="https://www.recordedfuture.com/" target="_blank"><img src="img/recorded_future.svg" class="sponsor-image" alt="Recorded Future" /></a></div>
                    <div class="column is-4"><a href="https://www.footballaddicts.com/" target="_blank"><img src="img/forza.png" class="sponsor-image" alt="Forza Football" /></a></div>
                    <div class="column is-4"><a href="https://skyltmax.se/" target="_blank"><img src="img/skyltmax_se.svg" class="sponsor-image" alt="Skyltmax" /></a></div>
                </div>
            </div>
        </section>
        <section class="section contact is-medium">
            <div class="container">
                <h1 class="title">Contact</h1>
                <p>There are a lot of people involved in making this happen but the core team consists of Rebecka G, Joakim G, Erik E, Caroline K and Piérre R.</p>
                <p>To get in touch with us, please drop an email to <a href="mailto:staff@metoohack.se">staff@metoohack.se</a></p>
            </div>
        </section>
        <footer class="footer">
            <small>#MeToo Hack is a hack</small><br><br>
            <a href="https://www.forthepublic.se"><img src="img/for_the_public_white.png" alt="For the Public" /></a>
        </footer>

        <!-- A little help for the Netlify post-processing bots -->
        <form name="registration-individual" netlify netlify-honeypot="bot-field" hidden>
            <input type="text" name="name" />
            <input type="email" name="email" />
            <input type="text" name="proffession" />
            <input type="text" name="food" />
            <input type="text" name="message" />
        </form>
        <form name="registration-team" netlify netlify-honeypot="bot-field" hidden>
            <input type="text" name="name[]" />
            <input type="email" name="email[]" />
            <input type="text" name="proffession[]" />
            <input type="text" name="food[]" />
            <input type="text" name="message" />
        </form>

        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.5.9/dist/vue.js"></script> -->
        <script src="https://cdn.jsdelivr.net/npm/vee-validate@latest/dist/vee-validate.js"></script>
        <script src="js/vendor/modernizr-3.5.0.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.2.1.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="js/registration.js"></script>
        <script src="js/main.js"></script>

        <script>
            window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
            ga('create','UA-110410768-2','auto');ga('send','pageview')
        </script>
        <script src="https://www.google-analytics.com/analytics.js" async defer></script>
    </body>
</html>
