@import "~bulma/sass/utilities/initial-variables";
$text: $white;
@import '~bulma';



$primary-font: "Quicksand", "Lato", Helvetica, sans-serif;
$brand-font: "Permanent Marker", Helvetica, sans-serif;
$secondary-font: "Lato", Helvetica, sans-serif;

$primary-color: #8625AA;